body{
	text-align: center;
	color:white;
}

p{
	text-align:center;
	color:white;
}


#top{
  align:center;
  text-align:center;
 }   
#circle{
      width: 100px;
      height: 100px;
      background: white;
      border-radius: 50%;
      display: inline-block;
      align: center;
      margin-left: 50px;
      margin-right: 50px;
      border:solid;
      border-color: lightgrey;
    }

#circle2{
  height: 50px
  width: 50px
  background-color:white;
  border-radius: 50%;
  align:center;
  margin-left: 650px;
  margin-right: 650px;
  margin-top: 50px;
  border:solid;
  border-color: lightgrey;
}
